.product__container{
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.product__title{
    font-weight: 300;
}

@media only screen and (max-width:550px){
    .product__container{
        display:flex;
        flex-direction:column;
        order: 2
    }
}